nav {
    display: flex;
    position: sticky;
    top: 0px;
    padding: 16px 32px;
    width: 100%;
    background-color: var(--bg-bright);
    align-items: center;
    font-size: 18px;
    justify-content: center;
    color: var(--accent);
    border-bottom: 1px solid var(--border);
    z-index: 4;
}

nav > a{
  font-weight: 700;
  font-size: 24px;
  margin-right: 10px;
}

.spacer{
  flex-grow: 1;
  height: 100%;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
}

li{
  margin-right: 15px;
}

#searchContainer{
  display: flex;
  align-items: center;
  background-color: var(--bg);
  color: var(--text);
  padding: 15px 24px;
  border-radius: 50px;
  width: 40vw;
  max-width: 400px;
  transition: box-shadow 0.2s;
}

#searchBar{
  margin-left: 16px;
  flex-grow: 1;
  background-color: transparent;
  color: inherit;
  font-size: 16px;
  font-weight: 500;
}

#searchIcon path{
  fill: var(--accent);
}

#searchIcon svg{
  height: 24px;
}
#cart,
#addbook,
#wishlist{
  background-color: var(--accent);
  color: var(--text-sec);
  font-weight: 500;
  font-size: 16px;
  padding: 15px 24px;
  border-radius: 50px;
  transition: background-color 0.2s;
}
#addbook:hover,
#wishlist:hover{
  background-color: var(--accent-light);
}

#theme{
  font-size: 26px;
  display: block;
  transition: transform 0.2s;
}

#theme:hover{
  transform: scale(1.05);
}

#hamburger{
  display: none;
}

#searchContainer:has(>input:focus){
  box-shadow: 0 2px 4px 0px var(--shadow);
}

@media screen and (max-width:1020px){
  nav{
    flex-wrap: wrap;
  }
  
  #hamburger{
    display: block;
    font-size: 26px;
    margin-right: 16px;
    color: var(--accent);
  }
  
  ul{
    overflow: hidden;
    flex-direction: column;
    order: 5;
    height: 0;
    position: absolute;
    top: 56px;
    width: 100%;
    padding-bottom: 25px;
    background-color: var(--bg-bright);
  }

  ul.show{
    height: fit-content;
    transition: height 0.3s;
  }

  li{
    margin: 0;
    margin-top: 22px;
  }

  li:last-of-type a:last-of-type{
    margin-left: 10px;
  }

  #searchContainer{
    max-width: 100vw;
    width: 70vw;
  }
}