body {
    display: flex;
    flex-direction: column;
    min-height: 1fr;
}

.footer {
    margin-bottom: 0;
}

#booksContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 0 400px 0 !important;
    /* padding-bottom: 400px; */
}

.remove {
    background-color: var(--r);
}

.wishlist-heading {
    margin-top: 50px;
    text-align: center;
    /* margin-left: 50px; */
    text-decoration: underline;
    color: var(--text);
}

/* .wishlist-heading.dark {
    --text: var(--b);
} */

.wishlist-grid {
    justify-content: center;
    align-items: center;
    /* padding: 5px 30px; */
    width: min(95%, 900px);
}

.wishlistbook {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--bg-bright);
    border-radius: 20px;
    margin: 20px;
    padding: 15px;
    box-shadow: 0 6px 4px 0 var(--shadow);
    /* width: min(90vw,900px); */
    /* height: 400px; */
    transition: transform 0.2s, box-shadow 0.2s;
    gap: 20px;
}

.wishlistbook:hover {
    box-shadow: 0 8px 6px 0 var(--shadow);
    transform: scale(1.02);
}

.wishlistbook-img {
    height: 340px;
    width: 240px;
    border-radius: 10px;
}

.wishlistbook-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* overflow: hidden; */
    justify-content: space-evenly;
    width: max(400px, 60%);
    padding: 0 20px;
}